@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@14,19.5&family=Ms+Madi&family=Quicksand:wght@300..700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Honk&family=Ms+Madi&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1{
   font-family: "Honk"; 
   font-size: 50px;
}

body {
  margin: 0;
  text-align: center;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  background: #0e0d0d;
  perspective: 1000px;
}

div.square {
    border: 2px solid rgba(216, 154, 252, 0.589);
    background: rgba(255, 192, 203, 0.1);
    box-shadow: 0 0 15px rgba(230, 192, 255, 0.377);
    backdrop-filter: blur(6px);
    padding: 7px;
    padding-bottom: -7px;
    margin: 10px;
    margin-bottom: -10px;
    margin-top: -20px;
    border-radius: 15px;
    display: inline-block;
    max-width: 600px;
}

span{
    color: white;
    font-family: 'Quicksand', cursive;
    font-size: 20px;
}

.gif{
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    width: 55%;
}

button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 15px;
    border: 2px solid rgba(221, 135, 255, 0.815);

    background-color: transparent;
    margin-top: 30px;
}

svg{
    width: 30px;
    height: 30px;
}
