@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@14,19.5&family=Nabla&family=Shadows+Into+Light+Two&display=swap');

h1{
   font-family: "Honk"; 
   font-size: 30px;
   margin-top: 100px;
   margin-bottom: -0px;
}

span{
    font-family: 'Shadows+Into+Light+Two', cursive;
    font-size: 20px;
    color: white; 
    margin-left: 15px;
    margin-right: 15px;   
    margin-top: -100px;               
}

body {
  margin: 0;
  text-align: center;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  background: #0e0d0d;
  perspective: 1000px;
}

img{
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 70%;
}

button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 15px;
    border: 2px solid rgba(221, 135, 255, 0.815);

    background-color: transparent;
    margin-top: 110px;
}

svg{
    width: 30px;
    height: 30px;
}
