@import url('https://fonts.googleapis.com/css2?family=Honk&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1{
   font-family: "Honk"; 
   font-size: 38px;
   padding: 15px;
}

body {
  margin: 0;
  text-align: center;
  align-items: center;
  min-height: 75vh;
  justify-content: center;
  background: #0e0d0d;
  perspective: 1000px;
    margin-top: 65px;
}

img{
    border-radius: 30px;
    border: 3px solid rgba(255, 57, 245, 0.589);
    box-shadow: 0 0 25px rgba(240, 218, 255, 0.377);
    backdrop-filter: blur(8px);

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
    width: 90%;
}

button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    border: 2px solid rgba(221, 135, 255, 0.815);

    background-color: transparent;
    margin-top: 30px;
    margin: 15px;

}

svg{
    width: 30px;
    height: 30px;
}